.chapter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  background-color: var(--color-chapter-background);
  color: var(--color-chapter-text);
  font-size: 20pt;
  font-weight: bold;
  border-radius: 50%;
  transition: background-color 0.2s,
  color 0.2s;
  user-select: none;
}

.selected-chapter {
  border: 0.1em solid var(--color-border-selected);
}

.chapter-button:hover {
  background-color: var(--color-border);
  color: var(--color-text);
}
