.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  padding: 1em 2em 2em 2em;
  max-width: 60em;
  margin: 0 auto;
  font-size: var(--text-size);
}

.content-icon {
  height: 20em;
  filter: var(--filter-icon);
}

h2 {
  text-align: center;
  width: 100%;
  font-size: calc(var(--text-size) * 2.5);
}

.chapter-select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  max-width: 35em;
  margin-bottom: 1me;
}

.content-body {
  margin: 1em;
}

h3 {
  text-align: center;
  font-size: calc(var(--text-size) * 2);
}

.content-body p {
  font-size: var(--text-size);
  text-align: justify;
}

.bottom-chapter-select {
  display: flex;
  flex: 1 1 auto;
  align-items: end;
}

.horizontal-buttons {
  margin-top: 1em;
  display: flex;
  flex-direction: row !important;
  width: 100%;
  justify-content: space-between;
}

.horizontal-buttons:has(button:only-child) {
  justify-content: end;
}

.markdown-content {
  font-size: var(--text-size);
  max-width: 40em;
  margin: 0 auto;
}
