.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  padding: 1em 2em 2em 2em;
  max-width: 60em;
  margin: 0 auto;
}

.content-icon {
  height: 20em;
}

h2 {
  text-align: center;
  width: 100%;
  font-size: 32pt;
}

.chapter-select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.content-body {
  margin: 1em;
}

.content-body h3 {
  text-align: center;
  font-size: 24pt;
}

.content-body p {
  font-size: 16pt;
  text-align: justify;
}

.bottom-chapter-select {
  display: flex;
  flex: 1 1 auto;
  align-items: end;
}

.horizontal-buttons {
  margin-top: 1em;
  display: flex;
  flex-direction: row !important;
  width: 100%;
  justify-content: space-between;
}
