header {
  flex: 0 1;
  min-height: var(--header-height);
  text-align: center;
  /* background-color: #FFF2; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #FFF2;
}

h1 {
  font-family: 'Estonia', cursive;
  font-size: 80pt;
  font-weight: normal;
  margin: 0 0 20pt 0;
  user-select: none;
  line-height: 60pt;
}

header a  {
  text-decoration: none;
}

header h3 {
  position: absolute;
  top: 0;
  font-size: 17pt;
  font-weight: normal;
  font-style: italic;
}
