main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .sidebar { min-width: 20em; max-width: 20em; }
  main {flex-wrap: nowrap;}
}
.sidebar {
  width: 100%;
  border-right: 1px solid var(--color-border);
  transition: border-color var(--theme-transition);
}
.box-button {
  background-color: #FFF0;
  transition: background-color 0.1s,
  color var(--theme-transition),
  border-color var(--theme-transition),
  border-image var(--theme-transition);
}
.box-button:hover {
  background-color: var(--color-box-hover);
}
