.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--color-border);
  width: 100%;
  transition: border-color var(--theme-transition);
}
.menu .box {
  flex: 1 1;
  display: flex;
  border-width: 0 1px;
  border-style: solid;
  border-color: var(--color-border-menu);
  font-size: var(--text-size);
  text-align: center;
  text-decoration: none;
  padding: 1em;
  justify-content: center;
  align-items: center;
}
.menu .box:last-child {
  border-right-width: 0;
}
.box.active {
  background-color: var(--color-box-active);
  transition: background-color var(--theme-transition),
  color var(--theme-transition);
}
