.modal {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  padding: 0;
}

.modal::backdrop {
  background: #0004;
}

.modal form {
  padding: 2em;
}

.modal form * {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.modal form *:last-child {
  margin-bottom: 0;
}

.modal form label {
  margin-bottom: 0;
}

.modal button {
  margin: 0 auto;
}

.modal .login-message {
  text-align: center;
  font-size: calc(var(--text-size) * 0.8);
}
