.modal {
  background-color: #262626;
  border: 1px solid #FFF2;
  padding: 0;
}

.modal::backdrop {
  background: #0004;
}

.modal form {
  padding: 2em;
}

.modal form * {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.modal form *:last-child {
  margin-bottom: 0;
}

.modal form label {
  margin-bottom: 0;
}

.modal h3 {
  font-size: 18pt;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}

.modal button {
  margin: 0 auto;
}
