.theme-buttons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1em;
}

.theme-buttons button {
  margin: 0;
}

.theme-buttons .selected {
  border-width: 2px;
  font-weight: bold;
}

#dark-button {
  color: #E6E6E6;
  background-color: #262626;
}

#light-button {
  color: #1A1A1A;
  background-color: #EBEBEB;
}
