.edit {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  max-width: 50em;
  margin: 0 auto;
}

.edit * {
  margin-bottom: 1em;
}

.edit textarea {
  height: 30em;
  margin-left: 0;
  padding: 0.5em 1em;
  width: 100%;
}

.edit .chapter-button {
  margin: 0;
}

.edit .chapter-select {
  max-width: 45em;
  margin: 0 auto;
  margin-bottom: 2em;
}

.help-text {
  margin-left: 1em;
  opacity: 0.5;
  font-size: calc(var(--text-size) * 0.9);
}
