* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Crimson Text', serif;
  background-color: #262626;
  color: #E6E6E6;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: #E6E6E6;
}
