* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

:root {
  --color-background: #262626;
  --color-text: #E6E6E6;
  --color-border: #FFF2;
  --color-border-gradient: #FFF1;
  --color-border-selected: #FFF6;
  --color-border-menu: #FFF1;
  --color-active-gradient-a: #FFFFFF07;
  --color-active-gradient-b: #FFFFFF0C;
  --color-box-normal: #FFF0;
  --color-box-hover: #FFF1;
  --color-box-active: #FFFFFF0A;
  --color-chapter-text: #FFF8;
  --color-chapter-background: #FFF1;
  --filter-icon: none;
  --header-height: 12em;
  --footer-height: 6em;
  --theme-transition: 0.5s;
}

:root.light {
  --color-background: #EBEBEB;
  --color-text: #1A1A1A;
  --color-border: #0004;
  --color-border-gradient: #0002;
  --color-border-selected: #000A;
  --color-border-menu: #0002;
  --color-active-gradient-a: #FFF4;
  --color-active-gradient-b: #FFFA;
  --color-box-normal: #0000;
  --color-box-hover: #FFF7;
  --color-box-active: #FFFA;
  --color-chapter-text: #000B;
  --color-chapter-background: #0001;
  --filter-icon: invert(1);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overscroll-behavior: contain;
  transition: background-color var(--theme-transition),
  color var(--theme-transition);
}

label, button, input, input::file-selector-button, textarea {
  font-size: 14pt;
  font-family: 'Crimson Text', serif;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

a, dialog {
  color: var(--color-text);
  transition: color var(--theme-transition);
}

button, input::file-selector-button {
  background-color: var(--color-box-normal);
  transition: background-color 0.1s;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  padding: 0.5em 1em;
  transition: background-color var(--theme-transition),
  color var(--theme-transition),
  border-color var(--theme-transition);
}

input {
  width: calc(100% - 1em);
}

input[type="file"] {
  direction: ltr;
}

input::file-selector-button {
  margin-right: 1em;
  margin-left: 0;
}

button:hover {
  background-color: var(--color-box-hover);
}

.btn-danger {
  background-color: var(--color-box-normal);
  border: 1px solid #F444;
  color: #E63333 !important;
}

.btn-danger:hover {
  background-color: #F221;
}

li {
  margin-bottom: 0.25em;
}
