.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0006;
}

.login-modal {
  padding: 2em;
  background-color: #262626;
  border: 1px solid #FFF2;
}

.login-modal form * {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.login-modal form label {
  margin-bottom: 0;
}

.login-modal h3 {
  font-size: 18pt;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}

.login-modal button {
  margin: 0 auto;
}
